[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Sony Common Maintainers
	label-Code-Review = -2..+2 group Sony Rhine Maintainers
	label-Verified = -1..+1 group Sony Common Maintainers
	label-Verified = -1..+1 group Sony Rhine Maintainers
	submit = group Sony Common Maintainers
	submit = group Sony Rhine Maintainers
	create = group Sony Common Maintainers
	create = group Sony Rhine Maintainers
	push = +force group Sony Common Maintainers
	push = +force group Sony Rhine Maintainers
	pushMerge = group Sony Common Maintainers
	pushMerge = group Sony Rhine Maintainers
