[project]
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Sony Rhine Maintainers
	label-Verified = -1..+1 group Sony Rhine Maintainers
	submit = group Sony Rhine Maintainers
	create = group Sony Rhine Maintainers
	push = +force group Sony Rhine Maintainers
	pushMerge = group Sony Rhine Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Sony Rhine Maintainers
